* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 5rem;
}

button {
  width: 4rem;
  height: 3rem;
  margin: 0 1rem;
}

h1 {
  font-size: 2rem;
}

input {
  width: 8rem;
  height: 6rem;
  margin-left: 1rem;
  font-size: 5rem;
}